# Temp files
*~
*.swp
__pycache__
.ipynb_checkpoints
.vscode
*DS_Store

# Data, viz
kit-molan/xyz_data.pkl
packages/R-Drop/
packages/TEMOS/datasets
packages/Complextext2animation/src/dataProcessing/

# Output, viz., logs
packages/acton/kit_logs/
kit-molan/code/test_viz/
packages/acton/logs/
packages/acton/wandb/
packages/TEMOS/outputs/

# Models
packages/TEMOS/pretrained_models/

